.container{
    width: 100wh;
    height: 110vh;

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container > span {
    font-size: 3rem;
    color: white;
    font-weight: 800;
}