.container{
    background-color: white;
    padding: 3rem;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    
}


.container > span {
    font-size: 2rem;
    font-weight: 600;
}
